<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Shop Item - Start Bootstrap Template</title>

    <link rel="stylesheet" type="text/css"
          href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/shop-item.css}" href="../../css/shop-item.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<div th:replace="header :: header">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="/">PolBot</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Page1</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>


<div class="container">


    <form action="#" th:action="@{/orders/collectiveOrders?startorder=}" th:object="${collectiveCurrencyOrder}" method="post">



        <div class="form-group">
            <label for="inputcurrencyPair"> currencyPair:</label>
            <input id="inputcurrencyPair" class="form-control" type="text" th:field="*{currencyPair}"
                   th:errorclass="fieldError"/>

        </div>
        <div class="form-group">
            <label for="inputorderType"> orderType:</label>
            <input id="inputorderType" class="form-control" type="text" th:field="*{orderType}"
                   th:errorclass="fieldError"/>

        </div>
        <div class="form-group">
            <label for="inputtopPrice"> topPrice:</label>
            <input id="inputtopPrice" class="form-control" type="text" th:field="*{topPrice}"
                   th:errorclass="fieldError"/>

        </div>

        <div class="form-group">
            <label for="inputbottomPrice"> bottomPrice:</label>
            <input id="inputbottomPrice" class="form-control" type="text" th:field="*{bottomPrice}"
                   th:errorclass="fieldError"/>

        </div>
        <div class="form-group">
            <label for="inputpriceSplitter"> priceSplitter:</label>
            <input id="inputpriceSplitter" class="form-control" type="text" th:field="*{priceSplitter}"
                   th:errorclass="fieldError"/>

        </div>
        <div class="form-group">
            <label for="inputpricePercentSplitter"> priceSplitter:</label>
            <input id="inputpricePercentSplitter" class="form-control" type="text" th:field="*{pricePercentSplitter}"
                   th:errorclass="fieldError"/>

        </div>
        <div class="form-group">
            <label for="inputtotalBtcAmount"> totalBtcAmount:</label>
            <input id="inputtotalBtcAmount" class="form-control" type="text" th:field="*{totalBtcAmount}"
                   th:errorclass="fieldError"/>

        </div>




        <div class="submit">
            <button type="submit" class="btn btn-primary btn-primary-group"
                    style="float: right"
                    name="save" th:text="Save">Add Seed Starter
            </button>
        </div>
    </form>

</div>

<!-- /.container -->

<div class="container">

    <hr/>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../js/jquery.js"></script>
<script src="../js/mustache.min.js"></script>
<script src="../js/polBotScript.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

</body>

</html>
