<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>


<nav class="navbar navbar-inverse  navbar-fixed-top" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PolBot</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                <li><a href="#" th:if="${#authorization?.expression('hasRole(''BOT'')')}" th:href="@{/mybalances/1}">My Balances</a></li>
                <li><a href="#" th:if="${#authorization?.expression('hasRole(''BOT'')')}" th:href="@{/mycurrencies/1}">My Currencies</a></li>
                <li><a href="#" th:if="${#authorization?.expression('hasRole(''BOT'')')}" th:href="@{/orders/openorders/1}">Open Orders</a></li>
                <li><a href="#" th:if="${#authorization?.expression('hasRole(''BOT'')')}" th:href="@{/edituserinfo/?show=}">Edit User</a></li>
                <li><a href="#" th:if="${#authorization?.expression('hasRole(''BOT'')')}" th:href="@{/editbotuserinfo/1?show=}">Edit Bot User</a></li>
                <li><a href="#" th:if="${#authorization?.expression('hasRole(''BOT'')')}" th:href="@{/editbotinfo/1?show=}">Edit Bot Info</a></li>
                <li><a href="#" th:if="${#authorization?.expression('hasRole(''ANALYSIS'')')}" th:href="@{/tradehistory/BTC_ETC/1w}">Gecmis</a></li>
                <li><a href="#" th:if="${#authorization?.expression('hasRole(''ANALYSIS'')')}" th:href="@{/analyse}">Analiz</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization?.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/login}">Sign in</a>
                </li>

            </ul>
            <form id="formout" th:action="@{/logout}" method="post">
                <ul class="nav navbar-nav navbar-right">

                    <li th:if="${#authorization?.expression('isAuthenticated()')}">

                        <a href="#" th:inline="text" onclick="formout.submit();">[[${#httpServletRequest.remoteUser}]]
                            Logout</a>
                    </li>
                </ul>
            </form>

        </div>
    </div>
</nav>



</body>
</html>