<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Poloneix Bot</title>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Custom CSS -->
    <link th:href="@{/css/shop-item.css}" href="../../css/shop-item.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" th:href="@{/DataTables/datatables.min.css}"/>
    <script type="text/javascript" th:src="@{/DataTables/datatables.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ctable').dataTable({responsive: true, pageLength: 100});
        });




    </script>

</head>

<body>

<div th:replace="header :: header">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="/">PolBot</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Page1</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-12">

            <div class="thumbnail">
                <div id="chartdiv" style="width:800px; height:1px;"></div>

                <div class="well">

                    <div class="text-left">
                        <h2 th:text="#{currencyconfig.title}">Leave a Review</h2>
                    </div>

                    <hr/>

                    <div class="row">
                        <form action="#" th:action="@{/bottradeconfig/{buid}/0 (buid=${buid})}"
                              th:object="${botTradeConfig}"
                              method="post">

                            <div class="submit">
                                <button type="submit" class="btn btn-default btn-primary-group"
                                        style="float: right;margin: 10px;"
                                        name="show" th:text="New">Add Seed Starter
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <table id="ctable" class="table table-responsive table-striped table-bordered"
                                           cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Currency Pair</th>
                                            <th>Balance</th>
                                            <th>Sell Mode</th>
                                            <th>Buy Price Low</th>
                                            <th>Buy Price High</th>
                                            <th>Sell Price Low</th>
                                            <th>Buy Price High</th>
                                            <th>Stop Loss Price</th>
                                            <th>Cancel Limit</th>
                                            <th>Show</th>
                                        </tr>
                                        </thead>

                                        <tbody th:if="${not #lists.isEmpty(botTradeConfigs)}">

                                        <tr th:each="cc : ${botTradeConfigs}">
                                            <td th:text="${cc.tradeConfigId}">123</td>
                                            <td th:text="${cc.currencyPair}">BTC_ETH</td>
                                            <td th:text="${cc.usableBalance}">0.1</td>
                                            <td th:text="${cc.sellMode}">0</td>
                                            <td th:text="${cc.buyAtPriceLow}">0.00100</td>
                                            <td th:text="${cc.buyAtPriceHigh}">0.00200</td>
                                            <td th:text="${cc.sellAtPriceLow}">0.00300</td>
                                            <td th:text="${cc.sellAtPriceHigh}">0.00350</td>
                                            <td th:text="${cc.stopLossPrice}">0.00050</td>
                                            <td th:text="${cc.orderTimeoutInHour}">5</td>
                                            <td>
                                                <div class="submit">
                                                    <a th:href="@{/bottradeconfig/{buid}/{tradeConfigId}(show='',tradeConfigId=${cc.tradeConfigId},buid=${cc.botUser.buId})}"
                                                       class="navbar-link">Show</a>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>
                                        <tbody th:if="${#lists.isEmpty(botTradeConfigs)}">
                                        <tr>
                                            <td colspan="3">No Data found</td>
                                        </tr>
                                        </tbody>


                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

</div>
<!-- /.container -->

<div class="container">
    <div th:replace="footer :: footer">&copy; 2016 The Static Templates</div>
</div>
<!-- /.container -->

</body>

</html>
