<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Shop Item - Start Bootstrap Template</title>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/mustache.min.js}"></script>
    <script th:src="@{/js/polBotScript.js}"></script>

    <!-- Custom CSS -->
    <link th:href="@{/css/shop-item.css}" href="../../css/shop-item.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<div th:replace="header :: header">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="/">PolBot</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Page1</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
<!-- Page Content -->
<div class="container">
    <h3>Cancel Orders</h3>
    <hr/>
    <div class="row">

        <div class="col-md-4">
            <a class="btn btn-danger" onclick="return confirm('Want to cancel ALL open orders?')"
               th:href="@{/orders/cancelopenorders/{buid}(ordercanceltype='ALL',buid=${buid})}">
                CANCEL ALL OPEN ORDERS
            </a>
        </div>

        <div class="col-md-4">
            <a class="btn btn-danger" onclick="return confirm('Want to cancel SELL open orders?')"
               th:href="@{/orders/cancelopenorders/{buid}(ordercanceltype='SELL',buid=${buid})}">
                CANCEL SELL OPEN ORDERS
            </a>
        </div>

        <div class="col-md-4">
            <a class="btn btn-danger" onclick="return confirm('Want to cancel BUY open orders?')"
               th:href="@{/orders/cancelopenorders/{buid}(ordercanceltype='BUY',buid=${buid})}">
                CANCEL BUY OPEN ORDERS
            </a>
        </div>
    </div>
    <h3>Start/Stop Orders</h3>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-info" onclick="return confirm('Want to stop SELL orders?')"
               th:href="@{/orders/stopcurrencyoperations/{buid}(ordertype='stop_sell',buid=${buid})}">
                STOP SELL ORDERS
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-info" onclick="return confirm('Want to stop BUY orders?')"
               th:href="@{/orders/stopcurrencyoperations/{buid}(ordertype='stop_buy',buid=${buid})}">
                STOP BUY ORDERS
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-info" onclick="return confirm('Want to start SELL orders?')"
               th:href="@{/orders/stopcurrencyoperations/{buid}(ordertype='start_sell',buid=${buid})}">
                START SELL ORDERS
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-info" onclick="return confirm('Want to start BUY orders?')"
               th:href="@{/orders/stopcurrencyoperations/{buid}(ordertype='start_buy',buid=${buid})}">
                START BUY ORDERS
            </a>
        </div>
    </div>
    <h3>Manage Orders</h3>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-info" th:href="@{/orders/setPercentageForAllCurrencies/{buid}(buid=${buid})}">
                Set Percentage For All
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-info"
               onclick="return confirm('Want to stop buy orders for currencies with too much sell orders?')"
               th:href="@{/orders/stopbuyordersforcurrencies/{buid}(buid=${buid})}">
                Stop Buy for Too much sells
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-info" th:href="@{/orders/collectiveOrders/{buid}(buid=${buid},getorders='')}">
                Bulk Orders
            </a>
        </div>
    </div>

    <br/>
    <h1>
        YOUR OPEN ORDERS
    </h1>
    <br/>
    <h3>
        EXCHANGE
    </h3>
    <div th:each="entry: ${userOpenOrders}">
        <span th:text="${entry.key}"></span>

        <table class='table table-hover table-bordered table-striped'>
            <thead>
            <tr>
                <td>
                    Type
                </td>
                <td>
                    Price (BTC)
                </td>
                <td>
                    Amount (<span th:text="${entry.key}"></span>)
                </td>
                <td>
                    Total (BTC)
                </td>
                <td>
                    Date
                </td>
                <td>
                    Action
                </td>
            </tr>
            </thead>
            <tbody th:each="poloniexOpenOrder :  ${entry.value}">
            <tr th:attr="data-open-order-row=${poloniexOpenOrder.orderNumber}">
                <td th:text="${poloniexOpenOrder.type}"></td>
                <td th:text="${poloniexOpenOrder.rate}"></td>
                <td th:text="${poloniexOpenOrder.amount}"></td>
                <td th:text="${poloniexOpenOrder.total}"></td>
                <td></td>
                <td><span class="btn btn-link"
                          th:attr="data-open-order-cancel=${poloniexOpenOrder.orderNumber}">Cancel</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- /.container -->
<div class="container">
    <div th:replace="footer :: footer">&copy; 2016 The Static Templates</div>
</div>

</body>

</html>
